<a href="https://colab.research.google.com/github/MyatCharm/Hotel-Data-Analysis/blob/main/Hotel-data-analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
%matplotlib inline

In [9]:
df2018 = pd.read_csv("https://raw.githubusercontent.com/MyatCharm/Hotel-Data-Analysis/main/hotel_revenue_2018.csv")
df2018

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,1,85,2018,July,27,1,0,3,2,...,No Deposit,240.0,NaN,0,Transient,82.00,0,1,Canceled,5/6/2018
1,Resort Hotel,1,75,2018,July,27,1,0,3,2,...,No Deposit,15.0,NaN,0,Transient,105.50,0,0,Canceled,4/22/2018
2,Resort Hotel,1,23,2018,July,27,1,0,4,2,...,No Deposit,240.0,NaN,0,Transient,123.00,0,0,Canceled,6/23/2018
3,Resort Hotel,1,60,2018,July,27,1,2,5,2,...,No Deposit,240.0,NaN,0,Transient,107.00,0,2,Canceled,5/11/2018
4,Resort Hotel,1,96,2018,July,27,1,2,8,2,...,No Deposit,NaN,NaN,0,Transient,108.30,0,2,Canceled,5/29/2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21991,City Hotel,1,24,2018,December,53,27,2,1,2,...,No Deposit,28.0,NaN,0,Transient,58.00,0,0,No-Show,12/27/2018
21992,City Hotel,1,1,2018,December,53,27,2,4,2,...,No Deposit,NaN,NaN,0,Transient,147.67,0,0,No-Show,12/27/2018
21993,City Hotel,1,66,2018,December,53,28,0,5,2,...,No Deposit,9.0,NaN,0,Transient,170.90,0,1,No-Show,12/29/2018
21994,City Hotel,1,54,2018,December,53,30,1,4,2,...,No Deposit,9.0,NaN,0,Contract,118.20,0,1,No-Show,12/30/2018
21995,City Hotel,1,54,2018,December,53,30,1,4,2,...,No Deposit,9.0,NaN,0,Contract,118.20,0,1,No-Show,12/30/2018

In [10]:
df2019 = pd.read_csv("https://raw.githubusercontent.com/MyatCharm/Hotel-Data-Analysis/main/hotel_revenue_2019.csv")
df2019

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,1,20,2019,January,1,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,119.00,0,0,Canceled,12/22/2018
1,Resort Hotel,1,76,2019,January,1,1,1,2,2,...,No Deposit,240.0,NaN,0,Transient,57.90,0,1,Canceled,12/20/2018
2,Resort Hotel,1,113,2019,January,1,2,0,1,2,...,Non Refund,305.0,NaN,0,Transient,72.00,0,0,Canceled,11/16/2018
3,Resort Hotel,1,113,2019,January,1,2,0,1,2,...,Non Refund,305.0,NaN,0,Transient,72.00,0,0,Canceled,11/16/2018
4,Resort Hotel,1,113,2019,January,1,2,0,1,2,...,Non Refund,305.0,NaN,0,Transient,72.00,0,0,Canceled,11/16/2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79259,Resort Hotel,1,61,2019,March,10,1,4,10,2,...,No Deposit,171.0,NaN,0,Transient,29.00,0,0,Check-Out,1/6/2019
79260,Resort Hotel,1,219,2019,March,10,2,2,5,2,...,Non Refund,310.0,NaN,0,Transient,52.00,0,0,Check-Out,11/20/2018
79261,Resort Hotel,1,219,2019,March,10,2,2,5,2,...,Non Refund,310.0,NaN,0,Transient,52.00,0,0,Check-Out,11/20/2018
79262,Resort Hotel,1,219,2019,March,10,2,2,5,2,...,Non Refund,310.0,NaN,0,Transient,52.00,0,0,Check-Out,11/20/2018
79263,Resort Hotel,1,118,2019,March,10,2,2,5,2,...,No Deposit,241.0,NaN,0,Transient,33.26,0,0,Check-Out,1/27/2019

In [11]:
df2020 = pd.read_csv("https://raw.githubusercontent.com/MyatCharm/Hotel-Data-Analysis/main/hotel_revenue_2020.csv")
df2020

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,1,74,2020,January,1,1,1,0,2,...,No Deposit,5.0,NaN,0,Transient,57.60,0,0,Canceled,10/20/2019
1,Resort Hotel,1,62,2020,January,1,1,2,2,2,...,No Deposit,240.0,NaN,0,Transient,51.50,0,1,Canceled,12/4/2019
2,Resort Hotel,1,62,2020,January,1,1,2,2,2,...,No Deposit,240.0,NaN,0,Transient,51.50,0,1,Canceled,11/11/2019
3,Resort Hotel,1,62,2020,January,1,1,2,2,2,...,No Deposit,240.0,NaN,0,Transient,51.50,0,1,Canceled,12/4/2019
4,Resort Hotel,1,71,2020,January,1,1,2,2,1,...,No Deposit,241.0,NaN,0,Transient,32.22,0,1,Canceled,10/29/2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40682,City Hotel,1,1,2020,February,5,1,0,0,1,...,No Deposit,NaN,153.0,0,Transient,0.00,0,1,No-Show,2/1/2020
40683,City Hotel,1,31,2020,July,29,16,2,0,1,...,No Deposit,NaN,NaN,0,Transient,135.00,0,2,No-Show,7/16/2020
40684,City Hotel,1,25,2020,May,18,6,2,1,1,...,No Deposit,NaN,450.0,0,Transient,125.00,0,0,No-Show,5/6/2020
40685,City Hotel,1,6,2020,July,29,17,1,0,1,...,No Deposit,NaN,238.0,0,Transient,65.00,0,0,No-Show,7/17/2020
40686,City Hotel,1,0,2020,August,31,2,0,2,1,...,No Deposit,NaN,40.0,0,Transient,65.00,0,1,No-Show,8/2/2020

In [21]:
df_hotel = pd.concat([df2018, df2019, df2020])
df_hotel

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,1,85,2018,July,27,1,0,3,2,...,No Deposit,240.0,NaN,0,Transient,82.0,0,1,Canceled,5/6/2018
1,Resort Hotel,1,75,2018,July,27,1,0,3,2,...,No Deposit,15.0,NaN,0,Transient,105.5,0,0,Canceled,4/22/2018
2,Resort Hotel,1,23,2018,July,27,1,0,4,2,...,No Deposit,240.0,NaN,0,Transient,123.0,0,0,Canceled,6/23/2018
3,Resort Hotel,1,60,2018,July,27,1,2,5,2,...,No Deposit,240.0,NaN,0,Transient,107.0,0,2,Canceled,5/11/2018
4,Resort Hotel,1,96,2018,July,27,1,2,8,2,...,No Deposit,NaN,NaN,0,Transient,108.3,0,2,Canceled,5/29/2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40682,City Hotel,1,1,2020,February,5,1,0,0,1,...,No Deposit,NaN,153.0,0,Transient,0.0,0,1,No-Show,2/1/2020
40683,City Hotel,1,31,2020,July,29,16,2,0,1,...,No Deposit,NaN,NaN,0,Transient,135.0,0,2,No-Show,7/16/2020
40684,City Hotel,1,25,2020,May,18,6,2,1,1,...,No Deposit,NaN,450.0,0,Transient,125.0,0,0,No-Show,5/6/2020
40685,City Hotel,1,6,2020,July,29,17,1,0,1,...,No Deposit,NaN,238.0,0,Transient,65.0,0,0,No-Show,7/17/2020
40686,City Hotel,1,0,2020,August,31,2,0,2,1,...,No Deposit,NaN,40.0,0,Transient,65.0,0,1,No-Show,8/2/2020

In [15]:
df_hotel.columns

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_date_year',
       'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'adults', 'children', 'babies', 'meal',
       'country', 'market_segment', 'distribution_channel',
       'is_repeated_guest', 'previous_cancellations',
       'previous_bookings_not_canceled', 'reserved_room_type',
       'assigned_room_type', 'booking_changes', 'deposit_type', 'agent',
       'company', 'days_in_waiting_list', 'customer_type', 'adr',
       'required_car_parking_spaces', 'total_of_special_requests',
       'reservation_status', 'reservation_status_date'],
      dtype='object')

In [14]:
df_market_segment = pd.read_csv("https://raw.githubusercontent.com/MyatCharm/Hotel-Data-Analysis/main/hotel_revenue_market_segment.csv")
df_market_segment

   Discount market_segment
0      0.00      Undefined
1      0.10         Direct
2      0.10         Groups
3      0.15      Corporate
4      0.20       Aviation
5      0.30  Offline TA/TO
6      0.30      Online TA
7      1.00  Complementary

In [17]:
df_meal_cost = pd.read_csv("https://raw.githubusercontent.com/MyatCharm/Hotel-Data-Analysis/main/hotel_revenue_meal_cost.csv")
df_meal_cost

    Cost       meal
0   0.00  Undefined
1  12.99         BB
2  17.99         HB
3  21.99         FB
4  35.00         SC

In [22]:
df_hotel1 = pd.merge(df_hotel, df_market_segment, how='left',on=['market_segment','market_segment'])
df_hotel = pd.merge(df_hotel1, df_meal_cost, how='left',on=['meal','meal'])
df_hotel

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,Discount,Cost
0,Resort Hotel,1,85,2018,July,27,1,0,3,2,...,NaN,0,Transient,82.0,0,1,Canceled,5/6/2018,0.30,12.99
1,Resort Hotel,1,75,2018,July,27,1,0,3,2,...,NaN,0,Transient,105.5,0,0,Canceled,4/22/2018,0.30,17.99
2,Resort Hotel,1,23,2018,July,27,1,0,4,2,...,NaN,0,Transient,123.0,0,0,Canceled,6/23/2018,0.30,12.99
3,Resort Hotel,1,60,2018,July,27,1,2,5,2,...,NaN,0,Transient,107.0,0,2,Canceled,5/11/2018,0.30,12.99
4,Resort Hotel,1,96,2018,July,27,1,2,8,2,...,NaN,0,Transient,108.3,0,2,Canceled,5/29/2018,0.10,12.99
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
141942,City Hotel,1,1,2020,February,5,1,0,0,1,...,153.0,0,Transient,0.0,0,1,No-Show,2/1/2020,0.20,12.99
141943,City Hotel,1,31,2020,July,29,16,2,0,1,...,NaN,0,Transient,135.0,0,2,No-Show,7/16/2020,0.10,12.99
141944,City Hotel,1,25,2020,May,18,6,2,1,1,...,450.0,0,Transient,125.0,0,0,No-Show,5/6/2020,0.15,12.99
141945,City Hotel,1,6,2020,July,29,17,1,0,1,...,238.0,0,Transient,65.0,0,0,No-Show,7/17/2020,0.15,12.99
141946,City Hotel,1,0,2020,August,31,2,0,2,1,...,40.0,0,Transient,65.0,0,1,No-Show,8/2/2020,0.15,12.99